body {
  text-align: center;
  background-color: #F0EEEA;
}

h1 {
  padding-bottom: 30px;
}

h2 {
  text-align: center;
}

.column {
  width: 33%;
  text-align: left;
  float: left;
  background-color: #F0EEEA;
}

img {
  max-width: 90%;
  max-height: 250px;
}
